{# vim: filetype=ntp.jinja2 #}
# {{ ansible_managed }}

driftfile "{{ ntpsec_client_drift_file }}"

{% for server in [ntpsec_client_servers] | flatten %}
server {{ server }} nts
{% endfor %}

# Disallow configuration or ntpq except from localhost.
restrict default kod limited nomodify nopeer noquery
restrict -6 default kod limited nomodify nopeer noquery
restrict 127.0.0.1
restrict -6 ::1
